html {
    font-size: 100%;
}

img {
    max-width: 100%;
    object-fit: cover;
}

a {
    width: 100%;
    display: inline-block;
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
}

body{
    font-size: sans-serif;
}