@use 'mixin' as m;


#footer {
    background: linear-gradient(to bottom, #d9eef5, #eef8fb);
    padding: 60px 20px 30px;
    font-size: 14px;
    color: #333;
}

/* 情報エリア */
.footer-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px;
    margin-bottom: 40px;

    @include m.sp {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

.footer-menu {
    min-width: 220px;
}

.footer-menu .title {
    font-weight: bold;
    margin-bottom: 10px;
}

.footer-menu p {
    margin: 0 0 6px;
}

.footer-menu a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

/* 縦線 */
.divider {
    width: 1px;
    background: #999;
    height: 120px;

    @include m.sp {
        width: 0;
        height: 0;
    }
}


/* SNS */
.sns {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 30px;
}

.sns-icon {
    font-size: 28px;
    color: #333;
    transition: 0.3s;
}

.sns-icon:hover {
    opacity: 0.7;
}

/* コピーライト */
.copyright {
    text-align: center;
    font-size: 12px;
    color: #555;
}

#footer .wrapper {
    max-width: 1100px;
    margin: 0 auto;
    display: block;
    /* ← ここ重要 */
}

.footer-map {
    background: white;
    padding: 2px;
    margin-bottom: 20px;
}

.footer-map iframe {
    display: block;
    width: 100%;
    height: 260px;
    border: none;
}



/* TOPへ戻るボタン */
#backToTop {
    position: fixed;
    right: 30px;
    bottom: 40px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: linear-gradient(135deg, #ffd6e8, #cce9ff);
    border: none;
    color: #555;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
    z-index: 999;
}

/* 表示状態 */
#backToTop.show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

/* ふわふわアニメーション */
#backToTop.show {
    animation: float 3s ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-8px);
    }

    100% {
        transform: translateY(0);
    }
}

/* ホバー */
#backToTop:hover {
    transform: scale(1.1);
}