@use 'mixin' as m;

header {
    height: 70px;
    max-width: 100%;
}

.header-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    padding-inline: 20px;
    margin: 0 auto;
    box-sizing: border-box;
}

.site-title img {
    max-width: 100%;
}

.site-menu ul {
    display: flex;
    list-style: none;
    gap: 30px;
    margin: 0;
    padding: 0;
}

.site-menu a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: 0.3s;

    &:hover {
        color: #00aaff;
    }
}

.main-visual {
    position: relative;
    /* 子要素の絶対配置を有効にする */
    width: 100%;
    height: 682px;
    /* 画像に合わせて調整 */
    overflow: hidden;
}

.main-visual img {
    width: 100%;
    // height: 100%;
    object-fit: cover;
    /* 画像を縦横比を保ちながら埋める */
    height: calc(100% - 8%);
}

.main-text {
    position: absolute;
    /* 画像の上に重ねる */
    top: 60%;
    /* 縦位置の調整 */
    left: 1%;
    /* 横位置の調整 */
    color: #fff;
    /* 白文字で見やすく */
    font-size: 40px;
    font-weight: bold;
    line-height: 1.8;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
    /* 文字の影で背景と区別 */

    @include m.sp{
            font-size: 32px;
        }

    & p:nth-child(1){
        padding-left: 50px;

        @include m.sp{
            padding-left: 0;
            text-align: center;
        }
    }

    & p:nth-child(2){
        padding-left: 175px;

        @include m.sp{
            padding-left: 0;
            text-align: center;
        }
    }
}

// ----------------------------------------ハンバーガーメニュー

.hamburger {
    display: none;
    width: 30px;
    height: 22px;
    position: relative;
    cursor: pointer;

    span {
        position: absolute;
        left: 0;
        width: 100%;
        height: 3px;
        background: #333;
        border-radius: 2px;
        transition: .3s;
    }

    span:nth-child(1) {
        top: 0;
    }

    span:nth-child(2) {
        top: 9px;
    }

    span:nth-child(3) {
        top: 18px;
    }
}

/* スマホだけ表示 */
@include m.sp {
    .hamburger {
        display: block;
    }

    .site-menu {
        position: fixed;
        top: 70px;
        left: 0;
        width: 100%;
        height: calc(100vh - 70px);
        background: rgba(255, 255, 255, .95);
        transform: translateX(100%);
        transition: .4s;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 10;

        ul {
            flex-direction: column;
            gap: 30px;
            font-size: 20px;
        }
    }

    .site-menu.active {
        transform: translateX(0);
    }
}

/* バツになる */
.hamburger.active span:nth-child(1) {
    top: 9px;
    transform: rotate(45deg);
}

.hamburger.active span:nth-child(2) {
    opacity: 0;
}

.hamburger.active span:nth-child(3) {
    top: 9px;
    transform: rotate(-45deg);
}