@use 'mixin' as m;


.wrapper {
    margin: 0 auto;
    max-width: 800px;
    text-align: center;

    .menu {
        color: white;
        background-color: #6dc4c4;
        max-width: 325px;
        height: 90px;
        margin: 0 auto;
        text-align: center;
        padding: 10px;
        margin-top: 100px;
        margin-bottom: 35px;

    }

    .color {
        color: #00aaff;
        margin-bottom: 50px;
    }

    .menu-table li {
        margin-bottom: 20px;
        max-width: 550px;
        // background-color: #95d9fb;
        margin-inline: auto;

        & ul li:nth-child(1) {
            background-color: #00aaff;
        }
    }
}

p.menu-preface {
    margin-block: 50px;
}

.title {
    color: #00aaff;
    font-size: 1.2rem;
    letter-spacing: 2px;
    margin-bottom: 70px;
    position: relative;

    &::before {
        position: absolute;
        content: "";
        width: 30px;
        height: 3px;
        background-color: #00aaff;
        top: 140%;
        left: 49%;
    }
}


.menu-plan img{
    border-radius: 20px;
}

.menu-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    background: #f0fafe;
    padding: 40px;
    border-radius: 24px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, .05);
    margin-bottom: 60px;

    @include m.sp {
        flex-direction: column;
        padding: 25px;
    }
}

.menu-list:nth-child(even) {
    flex-direction: row-reverse;

    @include m.sp {
        flex-direction: column;
    }
}

.explanation {
    width: 50%;
    text-align: left;

    .course {
        font-size: 1.3rem;
        font-weight: bold;
        color: #00aaff;
        margin-bottom: 15px;
    }

    p {
        line-height: 1.9;
        margin-bottom: 8px;
    }

    @include m.sp {
        width: 100%;
        text-align: center;
    }
}

main {
    margin-bottom: 50px;
}

